.card-container {
  display: grid;
  place-items: center;
  align-content: center;
  width: 100%;
  > button {
    position: absolute;
    top: 2em;
    left: 2em;
  }
}
.card {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 10em;
  background-color: lightcoral;
  height: auto;
  padding-bottom: 2em;
  border-radius: 2%;
  margin: 0;
  > img {
    text-align: center;
    width: 150px;
  }
}

.card-text {
  color: black;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6px;
  margin: 0;
}